.container-tiempo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0c486c;
    padding-left: 10px;
    padding-top: 10px;
    color: white;
}

.valor-tiempo {
    font-size: 14px;
    font-weight: bold;
}
